.my-posts {
    display: flex;
    width: 90%;
    gap: 1em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    background-color: var(--elements-background);
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.button-container {
    display: flex;
    border: 1px solid rgba(4, 4, 4, 0.1);
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    width: 80px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    background-color: var(--default-button-background);

}

.button-container:hover {
    background-color: var(--chat-link-hover-bg-color);
    border-color: rgba(4, 4, 4, 0.3);
    color: var(--chat-link-hover-text-color);

}

.textarea-container {
    margin-top: 30px;
}

.form-container {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.textarea-wrapper {
    width: 100%;
}

.textarea-wrapper {
    position: relative;
    width: 100%;

}

.textarea {

    min-height: 60px;
    max-height: 200px;
    overflow: auto;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 5px 5px 5px 20px;
    outline: none;
    background-color: var(--text-area-background-color);
    font-size: 16px; /* Размер шрифта */
    color: #345770; /* Цвет текста */
    border: none;
    transition: border-color 0.3s; /* Плавный переход цвета границы */
    resize: none; /* Убираем возможность изменения размера */
    justify-content: center;
    align-content: center;
    border-radius: 10px;

}

.input-error-message {
    border: 1px solid #dd3c10;
    background-color: #ffebe8;
    text-align: center;
    border-radius: 10px;
    color: black;
    width: 200px;
    padding: 3px 10px 3px 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -90%;
}