.chatsList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 400px;
    width: 100%;
    overflow-y: auto;
    align-items: center;

}

.chat-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 10px;
    width: 80%;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.chat-container {

}

.active {
    background-color: rgb(219, 230, 254);
    transform: scale(1.03);
    transition: transform 0.3s ease;
}

.chat-link:hover {
    background-color: #e2e7ef;
    color: #4267b2;
}

.dialogText {
    font-weight: 400;
    opacity: 0.7;
}

.post-img-container {
    flex-grow: 1;
    width: 70px;
    height: 70px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    flex: none;
    margin: 10px;

}

.post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dark {
    background-color: var(--dark-elements-background);
    color: #c5bebe;
    border: none;
}

.chat-link.dark:hover {
    background-color: #3d4552;
    color: white;
}