.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--header-bg-color);

}

.header-img {
    display: flex;
    height: 4em;
    margin-top: 10px;
    margin-left: 30px;

}

.login-block {
   
    justify-self: end;
    width: 80%;
    text-align: end;
    box-sizing: border-box;
    padding-right: 20px;

}